{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}Registration Completed !!{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'meetups/style/registration-confirmation.css' %}">
{% endblock %}

{% block heading %}Thanks for signing up for the meetup.{% endblock %}

{% block body %}
<section id="confirmation">
    <h2>You registered successfully!</h2>
    <p>Thanks for signing up for the meetup.</p>
    <p>If you have any questions please <a href="mailto:{{organizer_email}}">contact the organizer</a> ahead of time!</p>
</section>

<section id="continue">
    <p>Of course you can sign up fpr more than one meetup.</p>
    <p><a href="/meetups/" class="btn">Explore other meetups.</a></p>
</section>

{% endblock %}