{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block css %}
link rel="stylesheet" href="{% static 'meetups/style/base.css' %}">
        
        <link rel="stylesheet" href="{% static 'meetups/style/all-meetups.css' %}">

{% endblock %}

{% block heading %}
We got great meetups coming up!
{% endblock %}

{% block header_content %}
Find the best meetups for you
{% endblock %}

{% block body %}
<section>
    <h2>Upcoming Meetups</h2>
    <ol>
        {% for meetup in meetups %}
        {% include 'meetups/includes/meetup-item.html' with title=mmetup.title location=meetup.location %}
        {% endfor %}
    </ol>
</section>
{% endblock %}
